body {
    width: 99%;
    padding: 100px 0px;
    background-color: #030C2B;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    min-width: 840px;
    max-width: 1200px;
}

.carrossel-geral, .contador-container {
    width: 400px;
    color: white;
    margin: auto;
}

/* Estilo básico do carrossel */

h1 {
    font-weight: bolder;
    font-size: 2.5em;
    font-family: "Playwrite DK Loopet", cursive;
    text-align: center;
    color: #FE0F0E;
}

h2 {
    font-family: "Merienda", cursive;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 1.5em;
    text-align: center;
}

.carrossel-container {
    position: relative;
    width: 400px;
    height: 600px;
    margin: auto;
    overflow: hidden;
}

.carrossel-imagens {
    display: flex;
}

.carrossel-imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.valor {
    width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    line-height: 0.5;
    font-size: 2em;
    background-color: #030C2B;
    color: white;
    box-shadow: 0px 0px 30px #c93c8e;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    margin-right: 15px;
}

#mapa {
    width: 400px;
    display: flex;
    margin: 40px auto;
}

@media screen and (max-width: 839px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        min-width: 400px;
    }
}
